.lds-dual-ring {
  position: relative;
  margin: auto;
  display: inline-block;
  width: 200px !important;
  height: 200px !important;
  z-index: 500;
}

.lds-dual-ring > img {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 6px solid #00ADB5;
  border-color: #00ADB5 transparent #00ADB5 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  transform: translateY(-10px);
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.app-loading .lds-pacman {
  position: relative;
  margin: auto;
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.app-loading {
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 10em;
}

.app-loading p {
  display: block;
  font-size: 1.17em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
}
